body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Añadimos esta propiedad para centrar el contenido */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Centramos horizontalmente los elementos */
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
    font-weight: bold;
    color: #555;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #050101;
    border-radius: 5px;
    margin-right: 8px;
}

button {
    padding: auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 8px;
}

button:hover {
    background-color: #0056b3;
}

svg {
    margin-top: 20px;
    display: block; /* Añadimos esta propiedad para centrar verticalmente el código de barras */
    margin: 0 auto; /* Centramos horizontalmente el código de barras */
}
